<% if(page.reward){ %>
    <div class="page-reward">
        <nav class="myreward">
            <a id="rewardBtn" href="javascript:;"><span>打&nbsp;赏</span><span>打发点了，三天没吃饭了！</span></a>
        </nav>
    </div>
<% } %>
